<!-- ============================ASIDE================================== -->
<div th:fragment="aside" id="aside">
	<aside class="left-sidebar" data-sidebarbg="skin6">
		<!-- Sidebar scroll-->
		<div class="scroll-sidebar">
			<!-- Sidebar navigation-->
			<nav class="sidebar-nav">
				<ul id="sidebarnav">
					<!-- User Profile-->
					<li class="sidebar-item pt-2">
						<a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/admin}"
							aria-expanded="false">
							<i class="far fa-clock" aria-hidden="true"></i>
							<span class="hide-menu">Thống kê</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/admin/user/table}"
							aria-expanded="false">
							<i class="fa fa-user" aria-hidden="true"></i>
							<span class="hide-menu">Người dùng</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/admin/bill/table}"
							aria-expanded="false">
							<i class="fa fa-user" aria-hidden="true"></i>
							<span class="hide-menu">Hóa đơn</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/admin/table}"
							aria-expanded="false">
							<i class="fa fa-table" aria-hidden="true"></i>
							<span class="hide-menu">Sản phẩm</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/admin/icon}"
							aria-expanded="false">
							<i class="fa fa-font" aria-hidden="true"></i>
							<span class="hide-menu">Icon</span>
						</a>
					</li>
					<!--  <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="map-google.html"
                                aria-expanded="false">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <span class="hide-menu">Google Map</span>
                            </a>
                        </li>-->
					<li class="sidebar-item">
						<a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/admin/blank}"
							aria-expanded="false">
							<i class="fa fa-columns" aria-hidden="true"></i>
							<span class="hide-menu">Blank Page</span>
						</a>
					</li>
				</ul>

			</nav>
			<!-- End Sidebar navigation -->
		</div>
		<!-- End Sidebar scroll-->
	</aside>
</div>
<!-- ============================HEADER================================== -->
<div th:fragment="header" id="header">
	<header class="topbar" data-navbarbg="skin5">
		<nav>
			<div class="navbar-header" data-logobg="skin6">
				<!-- ============================================================== -->
				<!-- Logo -->
				<!-- ============================================================== -->
				<a th:href="@{/index}" class="navbar-brand ms-4 ms-lg-0">
					<h1 class="fw-bold text-primary m-0">
						T<span class="text-secondary">T</span>C
					</h1>
				</a>
				<!-- ============================================================== -->
				<!-- End Logo -->
				<!-- ============================================================== -->
				<!-- ============================================================== -->
				<!-- toggle and nav items -->
				<!-- ============================================================== -->
				<a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none" href="javascript:void(0)"><i
						class="ti-menu ti-close"></i></a>
			</div>
			<!-- ============================================================== -->
			<!-- End Logo -->
			<!-- ============================================================== -->
			<div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
				<ul class="navbar-nav d-none d-md-block d-lg-none">
					<li class="nav-item">
						<a class="nav-toggler nav-link waves-effect waves-light text-white" href="javascript:void(0)"><i
								class="ti-menu ti-close"></i></a>
					</li>
				</ul>
				<!-- ============================================================== -->
				<!-- Right side toggle and nav items -->
				<!-- ============================================================== -->
				<ul class="navbar-nav ms-auto d-flex align-items-center">

					<!-- ============================================================== -->
					<!-- Search -->
					<!-- ============================================================== -->
				</ul>
			</div>
		</nav>
	</header>
</div>

<div th:fragment="footer">
	<footer class="footer text-center"> © TTC, All Right Reserved. </footer>
</div>