<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: header}"></head>

<body>
	<!-- Spinner Start -->
	<div th:replace="~{fragments :: spinner}"></div>
	<!-- Spinner End -->

	<!-- Navbar Start -->
	<div th:replace="~{fragments :: navbar}"></div>
	<!-- Navbar End -->


	<!-- Carousel Start -->
	<div th:replace="~{fragments :: carousel}"></div>
	<!-- Carousel End -->


	<!-- About Start -->
	<div class="container-xxl py-5">
		<div class="container">
			<div class="row g-5 align-items-center">
				<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
					<h1 class="display-5 mb-4">Chất Lượng Uy Tín</h1>
					<p class="mb-4">Sản Phẩm Được Sản Xuất Từ Các Nhãng Hiệu Nổi
						TIếng Hàng Đầu Thế Giới</p>
					<p>
						<i class="fa fa-check text-primary me-3"></i> Bảo Hàng 12 Tháng
					</p>
					<p>
						<i class="fa fa-check text-primary me-3"></i>Vận Chuyển Trên Toàn
						Quốc
					</p>
					<a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Xem
						Thêm</a>
				</div>
			</div>
		</div>
	</div>
	<!-- About End -->


	<!-- Feature Start -->
	<div class="container-fluid bg-light bg-icon my-5 py-6">
		<div class="container">
			<div class="section-header text-center mx-auto mb-5 wow fadeInUp"
				data-wow-delay="0.1s" style="max-width: 500px;">
				<h1 class="display-12">Những thương hiệu đồng hành cùng TTC</h1>
				<p></p>
			</div>
			<div class="row g-4">
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
					<div class="bg-white text-center h-100 p-4 p-xl-5">
						<img class="img-fluid mb-4" src="img/logo/logo_calvin.jpg" alt="">
						<h4 class="mb-3">Calvin Klein</h4>
						<p class="mb-4">Một nhãn hiệu thời trang được nhà thiết kế
							cùng tên Calvin Klein thành lập năm 1968.</p>
						<p class="mb-4">Midtown Manhattan, New York City</p>

					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
					<div class="bg-white text-center h-100 p-4 p-xl-5">
						<img class="img-fluid mb-4" src="img/logo/logo.png" alt="">
						<h4 class="mb-3">PNJ</h4>
						<p class="mb-4">Công ty cổ phần vàng bạc đá quý Phúc NHuận</p>
						<p class="mb-4">170E Phan Đăng Lưu – Phường 3 – Quận Phú Nhuận
							– Thành phố Hồ Chí Minh.</p>

					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
					<div class="bg-white text-center h-100 p-4 p-xl-5">
						<img class="img-fluid mb-4" src="img/logo/coach.jpg" alt="">
						<h4 class="mb-3">COACH</h4>
						<p class="mb-4">Hãng thời trang chuyên về sản phẩm da cao cấp
							đến từ Mỹ</p>
						<p class="mb-4">Được thành lập vào năm 1941 tại Manhattan, New
							York</p>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Feature End -->

	<!-- Đánh giá khách hàng -->
	<div class="container-fluid bg-light bg-icon py-6 mb-5">
		<div class="container">
			<div class="section-header text-center mx-auto mb-5 wow fadeInUp"
				data-wow-delay="0.1s" style="max-width: 500px;">
				<h1 class="display-5 mb-3">Đánh giá khách hàng</h1>
				<p>Những đánh giá yêu thương của khách hàng gửi đến TTC</p>
			</div>
			<div class="owl-carousel testimonial-carousel wow fadeInUp"
				data-wow-delay="0.1s">
				<div class="testimonial-item position-relative bg-white p-5 mt-4">
					<i
						class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
					<p class="mb-4">Trang sức đeo rất sáng đẹp!</p>

					<div class="d-flex align-items-center">
						<img class="flex-shrink-0 rounded-circle" alt="">
						<div class="ms-3">
							<h5 class="mb-1">Mai Nguyễn</h5>
							<span>Cần Thơ</span>
						</div>
					</div>
				</div>
				<div class="testimonial-item position-relative bg-white p-5 mt-4">
					<i
						class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
					<p class="mb-4">Hôm trước mình vừa mua nhẫn để cầu hôn bạn gái
						ở đây. vợ mình rất thích.Sẽ ủng hộ lâu dài.</p>
					<div class="d-flex align-items-center">
						<img class="flex-shrink-0 rounded-circle" alt="">
						<div class="ms-3">
							<h5 class="mb-1">Tuấn Thanh</h5>
							<span>Sóc Trăng</span>
						</div>
					</div>
				</div>
				<div class="testimonial-item position-relative bg-white p-5 mt-4">
					<i
						class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
					<p class="mb-4">Vừa được ck yêu tặng quà bất ngờ dịp 8/3.Lắc
						tay hơi bị đẹp nên mới tìm đến trang mua! mới vừa đặt một chiêc
						đồng hồ tặng lại ck.kkakaka</p>
					<div class="d-flex align-items-center">
						<img class="flex-shrink-0 rounded-circle" alt="">
						<div class="ms-3">
							<h5 class="mb-1">Alex</h5>
							<span>Cần Thơ</span>
						</div>
					</div>
				</div>
				<div class="testimonial-item position-relative bg-white p-5 mt-4">
					<i
						class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
					<p class="mb-4">Vừa mua xong cặp đồng hồ đôi với anh người yêu
						ở đây. Mình là ng khá kho tính.Nhưng vô cùng hài lòng với chất
						lượng sp ở đây!! Còn mua dài dài nha</p>
					<div class="d-flex align-items-center">
						<img class="flex-shrink-0 rounded-circle" alt="">
						<div class="ms-3">
							<h5 class="mb-1">Thơ Nguyễn</h5>
							<span>Vĩnh Long</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Testimonial End -->




	<!-- Footer Start -->
	<div th:replace="~{fragments :: footer}"></div>
	<!-- Footer End -->


	<!-- Back to Top -->
	<a th:replace="~{fragments :: backToTop}"></a>


	<!-- JavaScript Libraries -->
	<div th:replace="~{fragments :: javascript}"></div>
	<!-- Template Javascript -->
	<script src="js/main.js"></script>
</body>

</html>