
  
  <!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: header}"></head>
<link rel="stylesheet" href="/css/dangnhap.css">
<body>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Thông tin khách hàng</h3>
            <form class="login" method="post">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" name="username" class="form-control form-control-lg" 
                    placeholder="username"/>
                  </div>
                </div>
                
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="password" name="password" class="form-control form-control-lg" 
                    placeholder="password"/>
                  </div>
                </div>
              </div>
              
               <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" name="ho" class="form-control form-control-lg" 
                    placeholder="Họ"/>
                  </div>
                </div>
                
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" name="ten" class="form-control form-control-lg" 
                    placeholder="Tên"/>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="date" name="ngaysinh" class="form-control form-control-lg" 
                    placeholder="Ngày sinh"/>
                  </div>
                </div>
                
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="email" name="email" class="form-control form-control-lg" 
                    placeholder="Email"/>   
                  </div>
                </div>
              </div>
              
                <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" name="dienthoai" class="form-control form-control-lg" 
                    placeholder="Số điện thoại"/>
                  </div>
                </div>
                
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" name="diachi" class="form-control form-control-lg" 
                    placeholder="Địa chỉ"/>   
                  </div>
                </div>
              </div>
             
                <div class="mt-4 pt-2">
                <a th:href="@{/index}">Quay lại</a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>

</html>