<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: header}"></head>
<link rel="stylesheet" href="/css/login.css">
<body>

	<!-- Navbar Start -->
	<div th:replace="~{fragments :: navbar}"></div>
	<!-- Navbar End -->

	<form th:object="${account}" th:action="@{/login/submit}" class="login"
		method="post">
		<h2>Sign In</h2>
		<input type="text" class="input-text" name="username" th:field="*{username}"
			placeholder="Username">
			<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
		<input type="password" th:field="*{password}"
			class="input-text" name="password" placeholder="Password">
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
		<input type="checkbox" name="remember" value="true"> Remember me? <br>
		<h4 th:text="${message}"></h4>
		<button>Login</button>
	</form>

	<!-- JavaScript Libraries -->
	<div th:replace="~{fragments :: javascript}"></div>
	<!-- Template Javascript -->

	<!-- Template Javascript -->
	<script src="js/main.js"></script>
</body>

</html>