<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: header}"></head>
<link rel="stylesheet" href="/css/login.css">
<body>
	<!-- Spinner Start -->
	<div th:replace="~{fragments :: spinner}"></div>
	<!-- Spinner End -->

	<!-- Navbar Start -->
	<div th:replace="~{fragments :: navbar}"></div>
	<!-- Navbar End -->

	<form th:action="@{/login/submit}" class="login" method="post">
		<h2>Sign In</h2>
		<input type="text" class="input-text" name="username"
			placeholder="Username"> <input type="password"
			class="input-text" name="password" placeholder="Password"> <input
			type="checkbox" name="remember" value="true"> Remember me? <br>
			<h4 th:text="${message}"></h4>
		<button>Login</button>
	</form>

	<!-- JavaScript Libraries -->
	<div th:replace="~{fragments :: javascript}"></div>
	<!-- Template Javascript -->

	<!-- Template Javascript -->
	<script src="js/main.js"></script>
</body>

</html>