<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: header}"></head>
<link rel="stylesheet" href="/css/dangnhap.css">
<body>
	<div th:replace="~{fragments :: navbar}"></div>
	<section class="vh-200 gradient-custom">
		<div class="container py-5 h-100" style="margin-top: 100px">
			<div class="row justify-content-center align-items-center h-100">
				<div class="col-12 col-lg-9 col-xl-7">
					<div class="card shadow-2-strong card-registration"
						style="border-radius: 15px;">
						<div class="card-body p-4 p-md-5">
							<h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Đăng kí thông tin
								khách hàng</h3>
							<form th:action="@{/register/info/submit}"
								th:object="${customer}" class="login" method="post">
								<div class="row">
									<div class="col-md-6 mb-4">
										<div class="form-outline">
											<input type="text" name="hoKH"
												class="form-control form-control-lg" placeholder="Họ" />
											<div class="alert alert-warning"
												th:if="${#fields.hasErrors('hoKH')}" th:errors="*{hoKH}"></div>
										</div>
									</div>
									<div class="col-md-6 mb-4">
										<div class="form-outline">
											<input type="text" name="tenKH"
												class="form-control form-control-lg" placeholder="Tên" />
											<div class="alert alert-warning"
												th:if="${#fields.hasErrors('tenKH')}" th:errors="*{tenKH}"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 mb-4">
										<div class="form-outline">
											<input type="date" name="ngaySinh"
												class="form-control form-control-lg" placeholder="Ngày sinh" />
											<div class="alert alert-warning"
												th:if="${#fields.hasErrors('ngaySinh')}"
												th:errors="*{ngaySinh}"></div>
										</div>
									</div>
									<div class="col-md-6 mb-4">
										<div class="form-outline">
											<input type="email" name="email"
												class="form-control form-control-lg" placeholder="Email" />
											<div class="alert alert-warning"
												th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 mb-4">
										<div class="form-outline">
											<input type="text" name="dienThoai"
												class="form-control form-control-lg"
												placeholder="Số điện thoại" />
											<div class="alert alert-warning"
												th:if="${#fields.hasErrors('dienThoai')}"
												th:errors="*{dienThoai}"></div>
										</div>
									</div>

									<div class="col-md-6 mb-4">
										<div class="form-outline">
											<input type="text" name="diaChi"
												class="form-control form-control-lg" placeholder="Địa chỉ" />
											<div class="alert alert-warning"
												th:if="${#fields.hasErrors('diaChi')}" th:errors="*{diaChi}"></div>
										</div>
									</div>
								</div>
								<p th:text="${message}" style="color: red;"></p>
								<div class="mt-4 pt-2">
									<input class="btn btn-primary btn-lg" type="submit"
										value="Đăng kí" />
								</div>
								<div class="mt-4 pt-2">
									<a th:href="@{/register/account}">Quay lại</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div th:replace="~{fragments :: footer}"></div>
</body>

</html>