
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Smoke Tests</title>
<meta charset="UTF-8">
</head>
<body>
	<table border="1" style="width: 300px">
		<tr>
			<td>MaSP</td>
			<td>Ten</td>
			<td>GiaSp</td>
			<td>GiaSale</td>
			<td>TonKho</td>
			<td>MoTa</td>
			<td>HinhAnh</td>
			<td>ThuongHieu</td>
			<td>Loai</td>
			<td>Availibale</td>
		</tr>
		<tr th:each="item : ${items}">
			<td th:text="${item.getMaSP}"></td>
			<td th:text="${item.getGiaSP}"></td>
		</tr>
	</table>
</body>
</html>